/*Подключение шрифтов =======================================================================*/
// &display=swap - поддержка кирилицы
@import url(https://fonts.googleapis.com/css?family=Port+Lligat+Sans:regular&display=swap);
@import url(https://fonts.googleapis.com/css?family=Poppins:regular,500,500italic,600,700,800&display=swap);

// Шрифт по умолчанию =======================================================================//
$fontFamily: "Poppins";

// Настройки ================================================================================//

// Ширина полотна
$wrapperSize: 1920;
// Ширина ограничивающего контейнера
$container: 1616;
// Отступы по краям контейнера
$paddingContainer: 15;
// Размер шрифта по умолчанию
$defaultFontSize: rem(30);

// Подключение функции и миксинов ===========================================================//
@import "modules/base";

/* Обнуление ================================================================================*/
@import "modules/null";

/*Тело страницы =============================================================================*/

body {
	background-color: #e5e5e5;
	font-family: $fontFamily;
	&.lock {
		overflow: hidden;
		touch-action: none;
	}
}

/*Оболочка ==================================================================================*/

.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100%;
	overflow: hidden;
}

/*Прижатие футера к низу*/
.wrapper > main {
	flex: 1 1 auto;
}

/*Контейнер =================================================================================*/
[class*="__container"] {
	max-width: calc($container + $paddingContainer * 2) + px;
	margin: 0px auto;
	padding: 0px $paddingContainer + px;
}

/*Стили ====================================================================================*/

/*Шапка*/
@import "header";

/*===========================================================================================*/
/*Главные стили*/
@import "main";

/*===========================================================================================*/
/*Подвал*/
@import "footer";

/*===========================================================================================*/
/*Стили одинаковых блоков*/
@import "common";
